body{
  background-color: #f8f9fa;
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
  flex:1;
}
/* navbar styles */
.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: red;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

/* footer */
.f-info {
  display: flex;
  height: 8rem;
  background-color: rgba(128, 128, 128, 0.508);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Links section */
.f-info-links {
  width: 100%;
  margin-bottom: 0.5rem;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
  margin-right: 0.5rem;
}

.f-info-links a:hover {
  text-decoration: underline;
  color: #000;
}

/* Social icons section */
.f-info-social {
  width: 100%;
}

.f-info-social i {
  margin-right: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.f-info-social i:hover {
  color: #007bff;
}
/* card */
.listing-card{
  border: none !important;
  margin-bottom: 2rem;
}
.card-img-top{
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;

}
.card-body{
  padding: 0 !important;
}
.des,.pri{
  font-weight: 800;
  font-size: 1 0px;
}
.pri{
  color: red;
}

/* star rating */
.star-rating .star {
  font-size: 28px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s;
}

.star-rating .star.selected,
.star-rating .star.hover {
  color: gold;
}
